# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
*.ipynb_checkpoints*
data/articles.json
data/articles.csv

# Environment variables
.env

# Generated data
data/articles.json
data/articles.csv

# macOS
.DS_Store


